{% extends 'base.html.twig' %}

{% block title %}Soodle | Participants{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/participants.css') }}?v=12">
{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <a href="{{ path('app_page_contenue_ue', {'id': ue.id}) }}"><button class="return">Retour</button></a>
    </div>
    <div class="title">
        <h1> Liste des participants {{ ue.code}} - {{ ue.intitule }}</h1>
    </div>
    <div class="container-participants">

    </div>

    <!-- Tableau des Professeurs (et Administrateurs) -->
    <p class="title2">Professeurs (et Administrateurs)</p>
    <table id="users">
        {% for user in users %}
            {% if 'ROLE_PROF' in user.roles %}
                <tr>
                    <td><img class="image-table" src="{{ asset('uploads/avatar/' ~ user.avatar) }}"></td>
                    <td>{{ user.nom | upper }} {{ user.prenom }}</td>
                    <td>{% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %} Administrateur
                            {% elseif role == 'ROLE_PROF' %} Professeur
                            {% endif %}
                        {% endfor %}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <!-- Tableau des Etudiants -->
    <p class="title2">Etudiants</p>
    <table id="users">
        {% for user in users %}
            {% if 'ROLE_ETUDIANT' in user.roles %}
                <tr>
                    <td><img class="image-table" src="{{ asset('uploads/avatar/' ~ user.avatar) }}"></td>
                    <td>{{ user.nom | upper }} {{ user.prenom }}</td>
                    <td>{% for role in user.roles %}
                            {% if role == 'ROLE_ETUDIANT' %} Etudiant {% endif %}

                        {% endfor %}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}
