{% extends 'base.html.twig' %}

{% block title %}Soodle | Modifier son profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/createUE.css?v=123') }}">
{% endblock %}
{% block body %}
    {{ form_start(profilForm) }}
        <div class="title">
            <h1> Formulaire de modification profil</h1>
        </div>
        <div class="form-input">
            <div><label for="profil_nom"> Nom :</label></div>
            {{ form_widget(profilForm.nom) }}

        </div>
        <br>
        <div class="form-input" >
            <div> <label for="profil_prenom"> Prénom : </label> </div>
            {{ form_widget(profilForm.prenom) }}

        </div>
        <br>
        <div class="form-input" >
            <div> <label for="profil_email"> Mail : </label> </div>
            {{ form_widget(profilForm.email) }}
        </div>
        <br>
        <div class="form-input" >
            <div><label for="image">Image</label></div>
            {{ form_widget(profilForm.profilPhoto) }}
        </div>
        {{ form_errors(profilForm.profilPhoto) }}
        <br>
        <button type="submit">Valider</button>
    {{ form_end(profilForm) }}
{% endblock %}
