{% extends 'base.html.twig' %}

{% block title %}Soodle | Admin {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/admin.css') }}?v=123">
{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="title">
        <h1> Administration</h1>
    </div>
    <div class="container">
        <div class="informations">
            <p>Il y a actuellement <span class="green">1609</span> étudiants et <span class="green">72</span> unités
                d'enseignement</p>
        </div>
        <div class="buttons">
            <button class="active" id="userButton" onclick="displayUsers()">Utilisateurs</button><button
                    onclick="displayUEs()" id="ueButton">Unités
                d'enseignement</button>
        </div>
        <div id="add">
            <button onclick='window.open("{{ url('app_createUser') }}", "_blank")' class="add">Ajouter</button>
        </div>
        <table id="users">
            {% for utilisateur in utilisateurs %}
            <tr>
                <td><img class=image-table src="{{ asset('uploads/avatar/' ~ utilisateur.avatar) }}" alt="Image UE"></td>
                <td>{{ utilisateur.prenom }}  {{ utilisateur.nom }}</td>
                <td>{% for role in utilisateur.roles %}
                        {% if (role == 'ROLE_ADMIN') %}
                            Administrateur
                        {% endif %}
                        {% if (role == 'ROLE_PROF') %}
                            Professeur
                        {% endif %}
                        {% if (role == 'ROLE_ETUDIANT') %}
                            Etudiant
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ utilisateur.email }}</td>
                <td class="interact-buttons">
                    <form action="{{ path('app_deleteUser', { 'id': utilisateur.id }) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?');">
                        <button class="small" type="submit">
                            <i class="fa-solid fa-book"></i>
                        </button>
                    </form>

                    <form action="{{ path('app_editUser', { 'id': utilisateur.id }) }}" method="post" onsubmit="">
                        <button class="small" type="submit">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </form>

                    <form action="{{ path('app_deleteUser', { 'id': utilisateur.id }) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?');">
                        <button class="small" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>

        <table class="hide" id="ues">
            {% for cour in cours %}
            <tr>
                <td><img class=image-table src="{{ asset('uploads/images/' ~ cour.image) }}" alt="Image UE"></td>
                <td>{{ cour.code }}</td>
                <td>{{ cour.intitule }}</td>
                <td class="interact-buttons">
                    <form action="{{ path('app_editUE', { 'id': cour.id }) }}" method="post">
                        <button class="small" type="submit">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                    </form>
                    <form action="{{ path('app_deleteUE', { 'id': cour.id }) }}" method="post" onsubmit="return confirm('Êtes-vous sûr ?');">
                        <button class="small" type="submit">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var createUEUrl = "{{ path('app_createUE') }}";
        var createUserUrl = "{{ path('app_createUser') }}";
    </script>
    {{ parent() }}
{% endblock %}
