{% extends 'base.html.twig' %}

{% block title %}Soodle | Admin {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/admin.css') }}">
{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="title">
        <h1> Administration</h1>
    </div>
    <div class="container">
        <div class="informations">
            <p>Il y a actuellement <span class="green">1609</span> étudiants et <span class="green">72</span> unités
                d'enseignement</p>
        </div>
        <div class="buttons">
            <button class="active" id="userButton" onclick="displayUsers()">Utilisateurs</button><button
                    onclick="displayUEs()" id="ueButton">Unités
                d'enseignement</button>
        </div>
        <div id="add">
            <button onclick='window.open("{{ url('app_createUser') }}", "_blank")' class="add">Ajouter</button>
        </div>
        <table id="users">
            {% for utilisateur in utilisateurs %}
            <tr>
                <td><img class=image-table src="{{  asset('images/avatar.jpg')  }}"></td>
                <td>{{ utilisateur.prenom }}  {{ utilisateur.nom }}</td>
                <td>{% for role in utilisateur.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                <td>{{ utilisateur.email }}</td>
                <td class="interact-buttons">
                    <i class="fa-solid fa-book"></i>
                    <i class="fa-solid fa-pencil"></i>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
            {% endfor %}

        </table>

        <table class="hide" id="ues">
            {% for cour in cours %}
            <tr>
                <td><img class=image-table src="{{ asset('images/background-cours1.jpg') }}"></td>
                <td>{{ cour.code }}</td>
                <td>{{ cour.intitulé }}</td>
                <td class="interact-buttons">
                    <i class="fa-solid fa-pencil"></i>
                    <i class="fa-solid fa-trash"></i>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var createUEUrl = "{{ path('app_createUE') }}";
        var createUserUrl = "{{ path('app_createUser') }}";
    </script>
    {{ parent() }}
{% endblock %}
