{% extends 'base.html.twig' %}

{% block title %}Soodle | Créer/Modifier un post{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/page_creation_modification.css?v=123') }}">
{% endblock %}
{% block id %}page_creation_modification{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <main>
        <!-- ====== Section : création / modification ====== -->
        <section id="creation_modification">
            <!-- Bouton retour -->
            <a href="{{ path('app_page_contenue_ue',{id:id_ue}) }}">
                <button class="button-style" type="button">Retour</button>
            </a>

            <!-- Titre principal -->
            <h1>Créer / Modifier un post</h1>

            <!-- Boutons pour choisir le type de contenu -->
            <div class="message-file-button">
                <button id="btnPartage" class="button-style select" type="button">
                    <i class="fa-regular fa-file"></i>
                    Partage de fichier
                </button>

                <button id="btnMessage" class="button-style" type="button">
                    <i class="fa-regular fa-comments"></i>
                    Message Text
                </button>

            </div>
        </section>
        <!-- Fin : creation_modification -->





        <!-- ====== Section : message-file-content ====== -->
        <section id="message-file-content">
            {{ form_start(postForm, {'attr': {'id': 'message-file'}}) }}
            <!-- Champ : Titre -->
            {{ form_label(postForm.titre, 'Titre') }}
            {{ form_widget(postForm.titre) }}

            <!-- Zone custom d'upload de fichiers -->
            <p class="file-upload-label  visibleFile ">Fichier</p>
            <div class="custom-file-upload  visibleFile">
                <label id="label_file" for="post_fichier">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <span>Choisissez un fichier ou glissez-le ici</span>
                </label>
                {{ form_widget(postForm.fichier) }}
                <span id="file-name" style="display: none;">
                    <i class="fa-solid fa-file-lines"></i> <span id="file-name-text"></span>
                </span>

            </div>
            {{ form_label(postForm.contenu, 'Contenu du message') }}
            {{ form_widget(postForm.contenu) }}


            {{ form_row(postForm.type) }}

            <button id="submit-message-file" type="submit">
                <i class="fa-regular fa-paper-plane"></i>
                Publier
            </button>
            {{ form_end(postForm) }}
        </section>
    </main>


{% endblock %}
