{% extends 'base.html.twig' %}

{% block title %}Soodle | Mes cours{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/cours.css') }}">
{% endblock %}
{% block body %}

    {% include 'partials/navbar.html.twig' %}
    <div class="title">
        <h1> Mes cours</h1>
    </div>
    <div class="container-courses">
        {% for cour in cours %}
            <div class="course"><a href="{{ path('app_page_contenue_ue', { 'id' : cour.id}) }}">

                    <img class="course-pic" src="{{ asset('uploads/images/' ~ cour.image) }}" alt="Image du cours">
                    <div class="course-description">
                        <p>
                            {{ cour.code }} {{ cour.intitule }}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="title">
        <h1> Actualités</h1>
    </div>
    <div class="actuality-container">
            <div class="actualities">
                {% for post in actualites %}
                    <p>
                        <span class="professor">• {{ post.utilisateur.nom }} {{ post.utilisateur.prenom }}</span>
                        a posté
                        {% if post.type == 'fichier' %}
                            un nouveau fichier, « {{ post.titre }} »
                        {% else %}
                            un nouveau message « {{ post.titre }} »
                        {% endif %}
                        dans {{ post.uniteEnseignement.code }} le {{ post.date|date('d/m/Y') }}
                    </p>
                {% else %}
                    <p>Aucune actualité pour le moment.</p>
                {% endfor %}
            </div>
        <button> Voir plus ...</button>
    </div>
{% endblock %}
